<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title>{{ title }}</title>
    </head>
    <body>
<table>
<caption>logs</caption>
<tr><th>id</th><th>entry</th><th>timestamp</th></tr>
        {% for e in entry.logs %}
        <tr><td> {{ e.id }} </td><td> {{ e.entry }} </td><td> {{ e.timestamp }} </td></tr>
        {% endfor %}
</table>
{% if entry.status != '' %}
<a href='{{ url_for('SnippetsView:reset', id=entry.id) }}'>reset status</a>
{% endif %}
<a href='{{ url_for('SnippetsView:monitor') }}'>Back to monitoring</a>
    </body>
</html>

