<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title>reset status</title>
    </head>
    <body>

<p>status reset for this snippet</p>
<a href='{{ url_for('SnippetsView:monitor') }}'>Back to monitoring</a>

    </body>
</html>

